<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winemall.mall.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.winemall.mall.pojo.Category" >
    <id column="CATEGORY_ID" property="categoryId" jdbcType="BIGINT" />
    <result column="MATERIAL" property="material" jdbcType="VARCHAR" />
    <result column="BRANDS" property="brands" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CATEGORY_ID, MATERIAL, BRANDS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.winemall.mall.pojo.CategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MIKE.CATEGORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MIKE.CATEGORY
    where CATEGORY_ID = #{categoryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MIKE.CATEGORY
    where CATEGORY_ID = #{categoryId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.winemall.mall.pojo.CategoryExample" >
    delete from MIKE.CATEGORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.winemall.mall.pojo.Category" >
    insert into MIKE.CATEGORY (CATEGORY_ID, MATERIAL, BRANDS
      )
    values (#{categoryId,jdbcType=BIGINT}, #{material,jdbcType=VARCHAR}, #{brands,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winemall.mall.pojo.Category" >
    insert into MIKE.CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="material != null" >
        MATERIAL,
      </if>
      <if test="brands != null" >
        BRANDS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="material != null" >
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="brands != null" >
        #{brands,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.winemall.mall.pojo.CategoryExample" resultType="java.lang.Integer" >
    select count(*) from MIKE.CATEGORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MIKE.CATEGORY
    <set >
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.material != null" >
        MATERIAL = #{record.material,jdbcType=VARCHAR},
      </if>
      <if test="record.brands != null" >
        BRANDS = #{record.brands,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MIKE.CATEGORY
    set CATEGORY_ID = #{record.categoryId,jdbcType=BIGINT},
      MATERIAL = #{record.material,jdbcType=VARCHAR},
      BRANDS = #{record.brands,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.winemall.mall.pojo.Category" >
    update MIKE.CATEGORY
    <set >
      <if test="material != null" >
        MATERIAL = #{material,jdbcType=VARCHAR},
      </if>
      <if test="brands != null" >
        BRANDS = #{brands,jdbcType=VARCHAR},
      </if>
    </set>
    where CATEGORY_ID = #{categoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winemall.mall.pojo.Category" >
    update MIKE.CATEGORY
    set MATERIAL = #{material,jdbcType=VARCHAR},
      BRANDS = #{brands,jdbcType=VARCHAR}
    where CATEGORY_ID = #{categoryId,jdbcType=BIGINT}
  </update>
</mapper>